In [1]:
import pandas as pd

In [2]:
data =pd.read_csv('crop_yield.csv')

In [3]:
data.head()

,Crop,Crop_Year,Season,State,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield
0,Arecanut,1997,Whole Year,Assam,73814.0,56708,2051.4,7024878.38,22882.34,0.796087
1,Arhar/Tur,1997,Kharif,Assam,6637.0,4685,2051.4,631643.29,2057.47,0.710435
2,Castor seed,1997,Kharif,Assam,796.0,22,2051.4,75755.32,246.76,0.238333
3,Coconut,1997,Whole Year,Assam,19656.0,126905000,2051.4,1870661.52,6093.36,5238.051739
4,Cotton(lint),1997,Kharif,Assam,1739.0,794,2051.4,165500.63,539.09,0.420909

In [4]:
data.head()
data = data[:10000]

In [5]:
data.head()

,Crop,Crop_Year,Season,State,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield
0,Arecanut,1997,Whole Year,Assam,73814.0,56708,2051.4,7024878.38,22882.34,0.796087
1,Arhar/Tur,1997,Kharif,Assam,6637.0,4685,2051.4,631643.29,2057.47,0.710435
2,Castor seed,1997,Kharif,Assam,796.0,22,2051.4,75755.32,246.76,0.238333
3,Coconut,1997,Whole Year,Assam,19656.0,126905000,2051.4,1870661.52,6093.36,5238.051739
4,Cotton(lint),1997,Kharif,Assam,1739.0,794,2051.4,165500.63,539.09,0.420909

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Crop             10000 non-null  object
 1   Crop_Year        10000 non-null  int64
 2   Season           10000 non-null  object
 3   State            10000 non-null  object
 4   Area             10000 non-null  float64
 5   Production       10000 non-null  int64
 6   Annual_Rainfall  10000 non-null  float64
 7   Fertilizer       10000 non-null  float64
 8   Pesticide        10000 non-null  float64
 9   Yield            10000 non-null  float64
dtypes: float64(5), int64(2), object(3)
memory usage: 781.4+ KB

In [7]:
#handling missing data
data = data.dropna() #dropna()-to analyze and drop Rows/Columns with Null values. 
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Crop             10000 non-null  object
 1   Crop_Year        10000 non-null  int64
 2   Season           10000 non-null  object
 3   State            10000 non-null  object
 4   Area             10000 non-null  float64
 5   Production       10000 non-null  int64
 6   Annual_Rainfall  10000 non-null  float64
 7   Fertilizer       10000 non-null  float64
 8   Pesticide        10000 non-null  float64
 9   Yield            10000 non-null  float64
dtypes: float64(5), int64(2), object(3)
memory usage: 859.4+ KB

In [8]:
data.describe()

,Crop_Year,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield
count,10000.000000,1.000000e+04,1.000000e+04,10000.000000,1.000000e+04,1.000000e+04,10000.000000
mean,2006.303400,1.755686e+05,3.105112e+07,1539.714349,2.033739e+07,4.552443e+04,127.007612
std,6.453488,7.355055e+05,3.682565e+08,953.406882,7.598889e+07,2.100005e+05,1086.460382
min,1997.000000,1.000000e+00,0.000000e+00,301.800000,9.467000e+01,9.000000e-02,0.000000
25%,2001.000000,2.126000e+03,2.157000e+03,942.400000,2.612869e+05,5.368950e+02,0.572533
50%,2005.000000,1.385500e+04,1.991600e+04,1247.000000,1.669711e+06,3.473515e+03,1.038730
75%,2012.000000,9.976600e+04,1.558150e+05,1743.400000,1.185884e+07,2.539392e+04,2.694614
max,2019.000000,5.080810e+07,6.326000e+09,6552.700000,4.835407e+09,1.575051e+07,16935.058460

In [9]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

Crop = le.fit_transform(data.Crop)
Crop_Year = le.fit_transform(data.Crop_Year)
Season = le.fit_transform(data.Season)
State = le.fit_transform(data.State)

data['Crop'] = Crop
data['Crop_Year'] = Crop_Year
data['Season'] = Season
data['State'] = State

In [10]:
data.head()

,Crop,Crop_Year,Season,State,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield
0,0,0,4,1,73814.0,56708,2051.4,7024878.38,22882.34,0.796087
1,1,0,1,1,6637.0,4685,2051.4,631643.29,2057.47,0.710435
2,8,0,1,1,796.0,22,2051.4,75755.32,246.76,0.238333
3,9,0,4,1,19656.0,126905000,2051.4,1870661.52,6093.36,5238.051739
4,11,0,1,1,1739.0,794,2051.4,165500.63,539.09,0.420909

In [11]:
from sklearn.model_selection import train_test_split
#from sklearn.cross_validation import train_test_split

In [12]:
X = data.iloc[:,:-1]
y = data.iloc[:,-1]

In [13]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor


from sklearn.metrics import roc_auc_score , classification_report, mean_squared_error, r2_score


algorithms = [RandomForestRegressor(), LinearRegression(), KNeighborsRegressor(), SVR(), DecisionTreeRegressor()]

In [14]:
X_train,X_test,Y_train,Y_test = train_test_split(X,y,test_size=0.2,random_state=100)

In [15]:
algorithms = [RandomForestRegressor(), LinearRegression(), KNeighborsRegressor(), SVR(), DecisionTreeRegressor()]

In [16]:

# Create a dictionary to store the results
results = {}

# Iterate over the algorithms
for algorithm in algorithms:

    # Train the algorithm
    algorithm.fit(X_train, Y_train)

    # Make predictions on the test set
    #y_pred = algorithm.predict(X_test)
    y_train_pred = algorithm.predict(X_train)
    y_test_pred = algorithm.predict(X_test)

    # Calculate the MSE and R^2 scores
    mse = mean_squared_error(Y_test, y_test_pred)
    r2 = r2_score(Y_test, y_test_pred)

    # Store the results in the dictionary
    results[algorithm.__class__.__name__] = [mse, r2]

In [17]:
# Print the results in a table
print('Algorithm | MSE | R^2')
print('----------|-----|-----')
for algorithm, result in results.items():
    print(f'{algorithm} | {result[0]:.3f} | {result[1]:.3f}')

Algorithm | MSE | R^2
----------|-----|-----
RandomForestRegressor | 11453.573 | 0.988
LinearRegression | 595378.258 | 0.354
KNeighborsRegressor | 37248.494 | 0.960
SVR | 924081.836 | -0.002
DecisionTreeRegressor | 16554.565 | 0.982

In [18]:

forest = RandomForestRegressor(n_estimators=1000, 
                               criterion='squared_error', 
                               random_state=1, 
                               n_jobs=-1)
forest.fit(X_train,Y_train)
y_train_pred = forest.predict(X_train)
y_test_pred = forest.predict(X_test)

print('MSE train: %.3f, test: %.3f' % (
        mean_squared_error(Y_train, y_train_pred),
        mean_squared_error(Y_test, y_test_pred)))
print('R^2 train: %.3f, test: %.3f' % (
        r2_score(Y_train, y_train_pred),
        r2_score(Y_test, y_test_pred)))

MSE train: 4796.673, test: 10289.147
R^2 train: 0.996, test: 0.989

In [19]:
print(forest.score(X_test,Y_test))

0.9888438408954914

In [20]:
forest.predict(X_test)

array([1.15159753, 0.48385139, 3.69172954, ..., 0.24372292, 0.42564983,
       0.16098927])

In [21]:
X_test

,Crop,Crop_Year,Season,State,Area,Production,Annual_Rainfall,Fertilizer,Pesticide
8018,39,5,2,7,606983.0,697000,353.900000,5.746308e+07,151745.75
9225,2,7,1,25,129.0,45,1612.900000,1.397586e+04,27.09
3854,24,16,1,0,109846.0,407657,1062.300000,1.587165e+07,29658.42
2029,40,9,1,0,2640870.0,6949186,845.200000,3.372655e+08,580991.40
3539,13,14,4,15,1893.0,1474,4083.104545,3.171154e+05,624.69
...,...,...,...,...,...,...,...,...,...
6923,29,2,1,18,118030.0,38670,1484.300000,1.252652e+07,31868.10
1207,43,5,0,25,1049.0,589,1629.100000,9.930883e+04,262.25
7960,43,5,1,3,24774.0,6442,1001.400000,2.345355e+06,6193.50
2339,29,10,1,10,31244.0,11750,1323.300000,4.167950e+06,4999.04
6637,43,1,1,23,91956.0,11274,743.400000,9.085253e+06,26667.24

In [22]:
forest.predict(X_test)

array([1.15159753, 0.48385139, 3.69172954, ..., 0.24372292, 0.42564983,
       0.16098927])

In [23]:
forest.predict([[2,7,1,25,129,45,1612,1.39,5.7]])

C:\Users\supri\anaconda3.x\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  "X does not have valid feature names, but"

array([3.08808924])

In [ ]:
Crop = input('Enter Crop:')
Crop_Year = input('Enter Crop_Year:')
Season = input('Enter Season:')
State = input('Enter State:')
Area = input('Enter Area:')
Production = input('Enter Production:')
Annual_Rainfall = input('Enter Annual Rainfall:')
Fertilizer = input('Enter Fertilizer:')
Pesticide = input( 'Enter Pesticide:')

out_1 = forest.predict([[float(Crop),
                        float(Crop_Year),
                        float(Season),
                        float(State),
                        float(Area),
                        float(Production),
                        float(Annual_Rainfall),
                        float(Fertilizer),
                        float(Pesticide)]])
print(out_1)
print('Crop Yield is:',out_1)